:root{
    --primary-bg-color: rgb(72, 72, 72);
    --alt-bg-color:rgb(237, 237, 237);
    --primary-text-color: rgb(255, 255, 255);
    --alt-text-color: rgb(72, 72, 72);
    --needy-streamer-hair-col-blue: rgb(151, 234, 234);
    --needy-streamer-hair-col-pink: rgb(243, 189, 236);
}

html{
    background-color: var(--primary-bg-color);
    width: 100%;
}
body{
    margin-top: 0px;
    margin-left: 7%;
    margin-bottom: 0px;
    margin-right: 7%;
}
header{
    text-align: left;
    position: relative;
    border: solid;
    border-width: 1px;
    border-color: red;
    height: 25vh;

}

.hero-section{
    position: relative;
    border: solid;
    border-width: 1px;
    border-color: red;
    height: 25vh;
    margin-top: 2.5vh;
    text-align: center;
}
.hero-head-box{
    width: 100%;
    height: 3vh;
}
.hero-text-header{
    margin:auto;
    position: relative;
    justify-self: center;
    text-align: center;
}
.hero-text{
    margin:auto;
    justify-self: center;
    align-items: center;
    
}
.hero-lower-box{
        float:left;
    display: inline;
    width:50%;
    align-items: center;
    height: 22vh;

}
.hero-left{
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 80%;
    background-image: url(https://canada1.discourse-cdn.com/flex035/uploads/threejs/original/2X/0/0234c526faf701fa4d3aa72066de983dd2f05050.gif);
}
.hero-right{
    background-color: rgb(0, 0, 0);
    opacity: 80%;
    background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExOWQ5c2JiOTJmemMwamlwZXIyY29jaGNzNzRmZGJzbDB4MzgydzhkdiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3Xt4ImBApjsefiD1Ut/giphy.gif);
}

.main-content{
    position: relative;
    border: solid;
    border-width: 1px;
    border-color: red;
    height: 80vh;
    margin-top: 2.5vh;
}

.main-body{
    width: 100%;
    height: 63vh;

}

.work-experience{
    height: 33.33%;
    width:100%;
    margin-bottom: 1vh;
}

.technology-list{
    display:inline-block;

}
.icon{
    width: 3vh;
    height: 3vh;
}
.work-experience-section{
    display: inline-block;
    
}

.lower-content{
        position: relative;
    border: solid;
    border-width: 1px;
    border-color: red;
    height: 20vh;
    margin-top: 2.5vh;
}

.colour-direcitonal-hue{
    display: flex;
    font-size: 2em;
    background: -webkit-linear-gradient(left,
    var(--needy-streamer-hair-col-blue) 0%,
    var(--needy-streamer-hair-col-pink) 5%,
    var(--needy-streamer-hair-col-blue) 20%,
    var(--needy-streamer-hair-col-pink) 60%,
    var(--needy-streamer-hair-col-blue) 70%);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.jirai-gif{
    position: relative;
    width:fit-content;
    height: 10em;
    border: solid;
    border-color: var(--needy-streamer-hair-col-blue);

}

.found{
    display: flex;
    font-size: 2em;
    background: -webkit-linear-gradient(left,
    var(--needy-streamer-hair-col-blue) 0%,
    var(--needy-streamer-hair-col-pink) 5%,
    var(--needy-streamer-hair-col-blue) 20%,
    var(--needy-streamer-hair-col-pink) 60%,
    var(--needy-streamer-hair-col-blue) 70%);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.jirai-crashout{
    display: flex;
    width: 7em;
}
ul{
    padding-left: 0px;
}



.navbar{
    position: sticky;
    top: 20px;
    text-decoration: none;
    justify-self: center;
}

.navbar-sections{
    text-decoration:inherit ;
    margin-left: 0.7em;
    border: solid;
    border-width: 0.2em;
    border-color: rgb(255, 255, 255);
    display: inline;
    padding: .5vh;
    color:var(--primary-text-color);
    cursor: pointer;
    
}

.navbar-sections>a{
    text-decoration:inherit ;
}

.lower-content-sect{
    float:left;
    display: inline;
    width:33.33%;
    background-color: rgb(0, 0, 0);
    height: 100%;
}


.monke_image{
    width: 50%;
}

.content{
    width:100%;
    overflow: hidden;

    align-items: center;
    height:fit-content;
    background-image: url("../resources/desktop/desktop/JINEBG.png");

}
.header{
    width:100%;
    height:180px;
    
}
.icons_body{
    mix-blend-mode:difference;
    
}
.Icon_List{
    float:right;
    margin-right: 10px;
    display:inline-flex;
}

li{
    margin-left: 10px;

}

.Main_Content{
    display:inline;
    width:100%;
}

.Gallery{
    width:100%;
    height:200px;
    display:flex;
}

.text{
    display:flex;
    width:100%;
    height: 2000px;
}
.Header_temp{
    color: black;
}


.section_Text{
    display:flex;
    background-color: rgb(0, 0, 0);
    width:33.3333333333%;
    margin-left: .5%;
    margin-right: .5%;

    display:inline-block;
}


.cursor-flare{
    display: flex;
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: rgb(162, 162, 162);

    border-radius: 20px;
    border-color: black;
    border-width: 10px;
}
.item-box{
    width: 100%;
    position: relative;

}
.project-box{
    width: 20em;
    height: 40em;
    border: solid;
    border-width: 1px;
    border-color: brown;
    display:inline-block;
    position: relative;
    align-items:center;
    margin-left: 50%;
    margin-right: 50%;
}
.contact-box{
    display: inline-grid;
}
.content-text{
 text-decoration: none;
}